* {
    margin: 1;
    padding: 3;
    box-sizing: border-box;
}
/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    background-color: #f0bfe3;
    color: #00ff40;
    padding: 30px;
}
/* Cabeçalho */
header {
    background-color: #00eeff;
    color: rgb(102, 0, 197);
    padding: 55px 0;
    text-align: center;
}
header h1{
    margin bottom: 10px: ;
}
nav ul {
    list-style: none;
    padding: 5;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 20px;
}
nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
/* Seção principal */
main {
    margin-top: 40px;
}


section {
    background: rgb(117, 0, 146);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Rodapé */
footer {
    text-align: center;
    margin-top: 20px;
    color: #0c1379;
}
